/*Lander ish*/
.total-wrapper-thing{
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: -100;
}

.info-container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.img-underline{
  background-color : rgb(37, 37, 37);
  height: 3rem;
  width:87vw;
  position: absolute;
  margin-top: 22rem;
  min-height: 3rem;
  min-width: 87vw;
}


.landing-title{
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3em;
    padding-top: 9rem;
    text-align: center;
}
.btn{
    transition: all .3s ease;
    color: #fff;
    border: 2px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    background-color : transparent;
    padding: 10px 15px 10px 15px;
    outline: none;
    position: absolute;
    margin-top: 12rem;
  }
  
  .btn:hover {
    background-color:  rgb(250, 59, 123);
    border:  rgb(250, 59, 123);

  }
  .btn a{
    color:white;
    text-decoration: none;
    transition: all .3s ease;
  }
  .btn a:hover{
    color:rgb(216, 216, 216);

  }

  .item-1 a, .item-2 a, .item-3 a{
      color:white;
      font-family: 'PT Sans', sans-serif;
      transition: 300ms ease all;
  }

  .item-1 a:hover, .item-2 a:hover, .item-3 a:hover{
      color:rgb(199, 199, 199);
  }
.item-1{
  margin-left: -10%;
}
  .word-container{ 
    padding-top: 1rem;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    }

  .container-1{
      background-color: white;
      height: 18rem;
      width: 87vw;
      min-height: 18rem;
      display: flex;
      justify-content: center;
      align-content: center;
  }
  .container-1-text{
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 50%;
    text-align: center;
    color: rgb(87, 86, 86);
    font-family: 'PT Sans', sans-serif;
    padding-top: 5rem;
}

  .container-1-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 11rem;
}

.container-1-title{
    color: rgb(255, 56, 115);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    top: -10%;
    transform: translateY(10%);
}


  .container-2{
      background-color: white;
      height: 15rem;
      width: 87vw;
      display: flex;
      justify-content: center;
      align-content: center;
      min-height: 15rem;
  }
  .container-2-text{
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 50%;
    text-align: center;
    color: rgb(87, 86, 86);
    font-family: 'PT Sans', sans-serif;
    padding-top: 5rem;
}

  .container-2-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 3rem;
}

.container-2-title{
    color: rgb(255, 56, 115);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    padding-top: 2rem;
}


.container-3{
  background-color: white;
  height: 47rem;
  width: 87vw;
  display: flex;
  justify-content: center;
  align-content: center;

}

.container-3-wrapper{
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  padding-top: 3rem;
}

.member-title-wrapper, .member-info-wrapper{
  display: flex;
  justify-content: center;
  align-content: center;
}

.container-3-title{
  color: rgb(255, 56, 115);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  top: -10%;
  transform: translateY(10%);
}
.membership-title, .news-title{
  color: rgb(255, 56, 115);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
}
.membership-info{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70%;
  text-align: center;
  color: rgb(87, 86, 86);
  font-family: 'PT Sans', sans-serif;
  top:-940%;
  transform: translateY(940%);
  position: absolute;

}

.container-3-total{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  
}

#container-3-image{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.board-1{
  display:flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5rem;
}

.board-2{
  display:flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
}
.board-3{
  display:flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
}

.board-4{
  display:flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
}

.board-5{
  display:flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
}

  /* FOOTER */
  .nero {
    height: 4.7rem;
}
.copyright-info{
    font-family: 'Roboto Condensed', sans-serif;
    color:rgb(255, 10, 84);
    font-size: .8em;
    padding-top: 2rem;
}
.footer-container{
    background-color: rgb(29, 29, 29);
    height: 11vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 6%;
    min-height: 4.7rem;
}

 

/********* MEDIA QUERIES ************/

@media (max-width: 1200px) {
  .container-2, .container-1{
    height: 25rem;
  }
  .container-1-info, .container-2-info{
    padding-top: .3rem;
  }
}

@media (max-width: 798px) {
  .container-1-info, .container-2-info{
    font-size: .9em;
    width: 200%;
  }
}


@media (max-width: 680px) {
  .container-1-info, .container-2-info{
    font-size: .90rem;
    margin-top: 0rem;
  }
   .container-1{
    height: 26rem;
  }
}

@media (max-width: 680px) {
  .container-1-title, .container-2-title{
    font-size: 1.7em;
  }
}
@media (max-width: 798px) {
  #img-container{
    position: relative;
    margin-left: 
  }
}

@media (max-width: 798px) {
  .landing-title{
    font-size: 2rem;
    padding-top:10rem
  }
}


@media (max-width: 650px) {
  .container-1{
    height: 35rem;
  }
  .container-1-info{
    padding-top: 2rem;
  }
  .landing-title{
    font-size: 1.8em;
  }
}

@media (max-width: 410px) {
  .container-1{
    height: 40rem;
  }
  .container-2{
    height: 35rem;
  }
}
@media (max-width: 770px) {
    .copyright-info{
        font-size: .7rem;
    }
}

@media (max-width: 520px) {
    .copyright-info{
        font-size: .6rem;
        margin-top: .1rem;
    }
}
@media (max-width: 520px) {
    .copyright-info{
        text-align: center;
    }
}