@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Pro|Poppins|Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body {
    overflow-x: hidden;
}

.column {
    float: left;
    width: 33%;
    padding: 0rem 1.1rem;
}


.card-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: aqua;
    margin-top: 10px;
}


.btn {
transition: all .3s ease;
color: #fff;
border: 2px solid rgb(255, 22, 119);
font-family:'Montserrat', sans-serif;
text-transform: uppercase;
text-align: center;
font-size: 15px;
background-color : rgb(255, 19, 117);
outline: none;
}

.btn:hover {
background-color:  rgb(250, 59, 123);
border:  rgb(250, 59, 123);

}
.btn a{
color:white;
text-decoration: none;
transition: all .3s ease;
}
.btn a:hover{
color:rgb(216, 216, 216);

}


.row {
    margin: 0 -.6rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
    text-align: center;
    padding: 2rem;
    background-color: #f1f1f1;
}




  .nero {
    height: 4.7rem;
}
.copyright-info{
    font-family: 'Roboto Condensed', sans-serif;
    color:rgb(255, 10, 84);
    font-size: .8em;
    padding-top: 2rem;
}
.footer-container{
    background-color: rgb(29, 29, 29);
    height: 11vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-height: 4.7rem;
}


/*
BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/




@media (max-width: 767px) {
     .column {
        width: 50%;
        display: block;
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 575px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 2.5rem;
    }
}
