@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Pro|Poppins|Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #222222;
}
/*home section*/
.landing-image{
    background-image: url(img/thing.png);
    height: 100vh;
    width: 100vw;
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -100;
}
.landing-cover{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #4d1625, #6f1b33, #921f42, #b72150, #de225f);
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -90;
    opacity: .0;
}
.section-1{
    width: 100vw;
    height: 70vh;
    background-color: #222222;
}
.landing-title{
    font-family: sans-serif;
    color:white;
    font-size: 3.5em;
    position: absolute;
    top: 40%;
    font-weight: 100;
    letter-spacing: .1rem;
    text-shadow: .2rem .2rem 1rem black;
    transform: translateY(-40%);
}
.title-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
/*Nav Bar*/
#nav-bar{
    position: absolute;
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    }
    #nav-bar ul li a{
        text-decoration: none;
        color: rgb(134, 134, 134);
        font-family: 'Poppins', sans-serif;
        letter-spacing: .2rem;
        transition: 300ms;
    }
    #nav-bar ul li{
        list-style: none;
    }
    li{
        display: inline-block;
        width: 6rem;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 30;
      }
      
      nav li {
        display: inline-block;
        margin-left: 2.5rem;
        z-index: 30;
        position: relative;
          }
      
      nav a {
        color: rgb(39, 39, 39);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
      }
      
      nav{
        background:transparent;
        height:4rem;
        z-index: 31;
        width: 100%;
        opacity: 1;
        background:rgba(0, 0, 0, .3);
        transition: 300ms ease;
      }
      nav.black{
          background: rgba(0, 0, 0, .85);
          height:52px;
          opacity: 1;
          position: absolute;
          -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .3);
          -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0,.3);
          box-shadow: 0 8px 6px -6px rgba(0, 0, 0,.3);
      }
 #nav-bar ul li a:hover {
    color:rgb(255, 10, 84);
        opacity: 1;
 }
/*About section */
.about-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.about-title {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    position: absolute;
    top: 120%;
    transform: translateY(-120%);
    color: #ff1044;
    font-style: bold;
}
.underline-about{
    background-color: #ac1636;
    height: .6vh;
    width: 11vw;
    left: 44.5%;
    top: 118%;
    transform: translateY(-118%);
    position: absolute;
}

.about-text {
    width: 70%;
    line-height: 1.5rem;
}
.about-info {
    display: flex;
    justify-content: center;
    text-align: center;
    top: -99%;
    transform: translateY(99%);
    color:rgb(185, 185, 185);
        font-family: 'Poppins', sans-serif;
}

/*Section 2*/
.section-2{
    width: 100vw;
    height: 60vh;
    background-image: url(img/charlotte.jpg);
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -100;
}
.section-2-cover{
    width: 100vw;
    height: 60vh;
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -90;
    opacity: 1;
}


.semi-container{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-top: 9%;
}

.total-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.psy-info{
    color:rgb(255, 255, 255);
    width: 50%;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
    text-shadow: .2rem .2rem 1rem black;
    z-index: 1000;

}
.psy-header{
    font-family: 'Raleway', sans-serif;
    color:rgb(250, 23, 98);
    line-height: 2em;
    font-weight:bolder;
    font-size: 2.6em;
    text-shadow: .2rem .2rem 1rem black;
    z-index: 1000;

}
/*Search Bar*/ 
/* Last Section */
.final-section{
    width: 100vw;
    height: 100vh;
    background-color: #222222;
}

.final-title{
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    position: absolute;
    top: 270%;
    transform: translateY(-270%);
    color: #ff1044;
    font-style: bold;

}
.last-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.underline-psy{
    background-color: #ac1636;
    height: .6vh;
    width: 29vw;
    position: absolute;
    left: 35.5%;
    top: 256%;
    transform: translateY(-256%);
}
/* Footer */

footer {
    background-color: #111111;
    width: 100vw;
    height: 10vh;
    position: absolute;
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    top: 380%;
    transform: translateY(-380%);
  }
.copyright-info{
color:rgb(255, 10, 84);
font-family: 'Raleway', sans-serif;
font-size: .8em;
margin-top: 2%;

}

.nero-image{
    height: 4.7rem;
}
